<!DOCTYPE html>
<html>
  <head>
    <title>HypernovaApollo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <style type="text/css">
    body {
      font-family: sans-serif;
      margin: 3vw;
    }
    </style>

  </head>

  <body>
    <%= yield %>

    <%= javascript_pack_tag "application" %>
  </body>
</html>
